body{
    background: #f1f1f1;
    min-width: 0;
    color: #444;
    font-family: "Segoe UI","Helvetica Neue",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content{
    width: 320px;
    padding: 8% 0 0;
    margin: auto;
}

h1{
    text-align: center;
}

#loginform{
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 26px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.checkbox{
    margin-top: 0px;
}

.button{
    text-align: right;
}
